@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");

.navbar-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  background-color: #fefefe;
  border-bottom: 2px solid #e3e3e3;
  position: fixed;
  top: 0;
}

.navbar {
  margin-left: auto;
  margin-right: 10%;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.navlink {
  text-decoration: none;
  color: #a39922;
}

.navlink:hover {
  color: #a3982285;
}

.active,
.active:hover {
  color: #ffe603;
}

.link-text {
  font-size: 1.5rem;
}

.language-menu-container {
  margin-top: 1%;
  margin-right: 5%;
}

.dropdown-menu-container {
  float: left;
  overflow: hidden;
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin-left: 20px;
}

.dropdown-menu-container:hover .dropdown-menu {
  display: block;
}

.link-icon {
  height: 25px;
  width: 25px;
}

.flag-icon {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}

.language-choice {
  display: flex;
  gap: 13px;
}

.content-container {
  margin-top: 10%;
  padding: 0 5%;
}
