@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");

.navbar-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  background-color: #fefefe;
  border-bottom: 2px solid #e3e3e3;
  position: sticky;
  top: 0;
}

.navbar {
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.hamburger-menu-icon-button {
  margin-left: auto;
}

.hamburger-menu-icon {
  display: none;
  height: 50px;
  width: 50px;
  color: #b0a300;
}

.mobile-menu-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fefefe;
}

.mobile-menu {
  text-align: center;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.mobile-menu-close-icon-container {
  margin-left: 75%;
  margin-top: 5%;
}

.mobile-menu-close-icon {
  height: 50px;
  width: 50px;
  color: #b0a300;
}

.mobile-menu-link {
  text-decoration: none;
  color: #b0a300;
  margin: 0 auto;
}

.mobile-menu-text {
  font-size: 18px;
}

.mobile-language-selection {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.mobile-language-choice {
  display: flex;
  gap: 10px;
}

.navlink {
  text-decoration: none;
  color: #b0a300;
}

.navlink:hover {
  color: #b0a40086;
}

.active,
.active:hover {
  color: #ffe603;
}

.link-text {
  font-size: 1.5rem;
}

.language-menu-container {
  margin-top: 1%;
  margin-right: 5%;
}

.dropdown-menu-container {
  float: left;
  overflow: hidden;
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  padding-top: 1px;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
}

.dropdown-menu-container:hover .dropdown-menu {
  display: block;
}

.link-icon {
  height: 25px;
  width: 25px;
  color: #b0a300;
}

.flag-icon {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}

.language-choice {
  display: flex;
  gap: 13px;
  cursor: pointer;
}

.content-container {
  display: block;
}

.video-responsive iframe {
  border: 0;
  border-radius: 10px;
}

.home-background-container {
  background-image: url(./images/emanuela-degan.jpg);
  min-height: 850px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
}

.title {
  font-size: 50px;
  color: #b0a300;
}

.small-title {
  font-size: 25px;
  color: #c1c1c1;
}

.paragraph {
  font-size: 18px;
}

.article-container {
  margin: 0 10%;
  padding: 2% 5%;
  background-color: #fefefe;
  height: 200px;
}

.article-title {
  font-size: 30px;
  color: #c1c1c1;
}

.article-preview-container {
  margin-top: 10px;
}

.article-preview {
  font-size: 17px;
}

.read-more-link {
  margin-left: auto;
  margin-top: 20px;
  text-decoration: none;
  color: #c1c1c1;
  font-size: 20px;
  font-style: italic;
}

.footer {
  height: 80px;
  width: 100%;
  background-color: #b0a300;
}

.footer-content-container {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 15px;
}

.mobile-footer-content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.footer-icon-container {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 40px;
}

.mobile-footer-icon-container {
  display: flex;
  gap: 20px;
  padding-left: 37%;
  padding-top: 5%;
}

.footer-icon {
  height: 40px;
  width: 40px;
  color: white;
}

.form-field {
  width: 100%;
}

.biography-image {
  height: 850px;
  width: 550px;
  margin-left: 20%;
  border-radius: 10px;
}

.recognition-image {
  height: 500px;
  width: 350px;
  margin-left: 15%;
  border-radius: 10px;
}

.paint-item-info {
  color: #c1c1c1;
  display: none;
}

.paint-item:hover {
  cursor: pointer;
}

.paint-item:hover .paint-item-info {
  display: block;
}

.paint-container {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: rgb(22, 22, 22);
}

.paint-detail-container {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.paint-detail-back-button {
  background-color: #c1c1c1;
  border-radius: 30px;
  margin-left: 3%;
}

.paint-detail-back-button:hover {
  background-color: #aeaeae;
}

.paint-detail-back-icon {
  height: 30px;
  width: 30px;
}

.paint-detail-image-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paint-detail-description-container {
  text-align: center;
  margin: 5%;
  color: white;
}

.paint-additional-info-container {
  text-align: right;
  font-size: 25px;
  font-style: italic;
  color: #c1c1c1;
  margin-top: 30px;
}

.paint-detail-close-button {
  position: absolute;
  margin-left: 95%;
  margin-top: 1%;
}

.paint-detail-close-icon {
  height: 50px;
  width: 50px;
  color: #c1c1c1;
}

.paint-detail-next-button {
  background-color: #c1c1c1;
  border-radius: 30px;
  margin-right: 3%;
}

.paint-detail-next-button:hover {
  background-color: #aeaeae;
}

.paint-detail-next-icon {
  height: 30px;
  width: 30px;
}

.paint-number-info {
  position: absolute;
  margin-top: 2%;
  margin-left: 3%;
}

@media only screen and (max-width: 1050px) {
  .title {
    font-size: 30px;
    text-align: center;
  }

  .small-title {
    font-size: 20px;
    text-align: center;
  }

  .paragraph {
    font-size: 15px;
    text-align: center;
  }

  .navbar {
    display: none;
  }

  .hamburger-menu-icon {
    display: flex;
  }

  .mobile-menu-text {
    font-size: 22px;
  }

  .home-background-container {
    background-image: url(./images/emanuela-degan.jpg);
    min-height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 55%;
  }

  .article-container {
    height: 450px;
  }

  .article-title {
    font-size: 20px;
  }

  .article-preview {
    font-size: 15px;
  }

  .biography-image {
    height: 600px;
    width: 300px;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
  }

  .recognition-image {
    height: 400px;
    width: 300px;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-bottom: 2%;
  }

  .footer {
    height: 220px;
  }

  .paint-detail-back-button {
    height: 25px;
    width: 25px;
  }

  .paint-detail-back-button:hover {
    background-color: #c1c1c1;
  }

  .paint-detail-back-icon {
    height: 17px;
    width: 17px;
  }

  .paint-detail-next-button {
    height: 25px;
    width: 25px;
  }

  .paint-detail-next-button:hover {
    background-color: #c1c1c1;
  }

  .paint-detail-next-icon {
    height: 17px;
    width: 17px;
  }

  .paint-detail-close-button {
    margin-left: 80%;
  }

  .paint-detail-image-container {
    margin-top: 35%;
  }
  .paint-additional-info-container {
    font-size: 18px;
  }
  .paint-number-info {
    margin-top: 5%;
    margin-left: 5%;
  }
}
