@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");

.navbar-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  background-color: #fefefe;
  border-bottom: 2px solid #e3e3e3;
  position: fixed;
  top: 0;
}

.navbar {
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.navlink {
  text-decoration: none;
  color: #b0a300;
}

.navlink:hover {
  color: #b0a40086;
}

.active,
.active:hover {
  color: #ffe603;
}

.link-text {
  font-size: 1.5rem;
}

.language-menu-container {
  margin-top: 1%;
  margin-right: 5%;
}

.dropdown-menu-container {
  float: left;
  overflow: hidden;
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  padding-top: 1px;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
}

.dropdown-menu-container:hover .dropdown-menu {
  display: block;
}

.link-icon {
  height: 25px;
  width: 25px;
  color: #b0a300;
}

.flag-icon {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}

.language-choice {
  display: flex;
  gap: 13px;
  cursor: pointer;
}

.content-container {
  margin-top: 6%;
}

.video-responsive iframe {
  border: 0;
  border-radius: 10px;
}

.home-background-container {
  background-image: url(./images/emanuela-degan.jpg);
  min-height: 850px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
}

.title {
  font-size: 50px;
  color: #b0a300;
}

.small-title {
  font-size: 25px;
  color: #c1c1c1;
}

.paragraph {
  font-size: 18px;
}

.article-container {
  margin: 0 10%;
  padding: 2% 5%;
  background-color: #fefefe;
  height: 200px;
}

.article-title {
  font-size: 30px;
  color: #c1c1c1;
}

.article-preview-container {
  margin-top: 10px;
}

.article-preview {
  font-size: 17px;
}

.read-more-link {
  margin-left: auto;
  margin-top: 20px;
  text-decoration: none;
  color: #c1c1c1;
  font-size: 20px;
  font-style: italic;
}

.footer {
  height: 80px;
  width: 100%;
  background-color: #b0a300;
}

.footer-content-container {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 15px;
}

.footer-icon-container {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 40px;
}

.footer-icon {
  height: 40px;
  width: 40px;
  color: white;
}

.form-field {
  width: 100%;
}

.biography-image {
  height: 750px;
  width: 500px;
  margin-left: 20%;
  border-radius: 10px;
}
